<!DOCTYPE html>
<html>

<head>
    <title>DRAWING.IO</title>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <!-- Google Icon Fonts used by Materialize -->
    <link rel="icon" type="image/png" href="http://simpleicon.com/wp-content/uploads/pencil.png">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="/javascripts/paper.js"></script>
</head>

<body>
  <div id="main-container">
    <div class="navbar">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DRAWING.IO</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <button id="secretButton"></button>
             <!--  <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <$ if (user) { $>
              <li><a href="/logout">Logout</a></li>
              <$ } else { $>
              <li><a href="/auth/google">Login with Google</a></li>
              <$ } $>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

<div class="modal fade" id="nicknamePOP">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">DRAWING.IO</h4>
            </div>
            <div class="modal-body">
                <input type="name" class="form-control" autofocus="autofocus" id="nickName" placeholder="Please enter Nickname!"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="submitName">Continue</button>
            </div>
        </div>
    </div>
</div>

<div id="chatbox-canvas-container">
    <div id="draw-container">
      <div id="legend">
        <button id="clearbutton" class="legend-items btn">C L E A R &nbsp; Y O U R &nbsp; B O A R D</button>
        <h4 class="legend-items" id="timer">GET READY!</h4>
        <button id="startButton" class="legend-items btn">S T A R T</button>
      </div>
      <canvas id="draw" resize="true" keepalive="true"></canvas>

    </div>
    <div id="chatbox-container" style="max-width: 382px;">
      <div id="chatbar" style="max-width: 382px;">
        <h5 id="messages"></h5>
        <form action="">
          <input type="text" id="m" autocomplete="off" class="form-control" placeholder="Text input">
          <button class="btn btn-success" id="chatsend">Send</button>
        </form>
      </nav>
    </div>

  <script>
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
  </script>

    <!-- jQuery (required by Materialize) -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- Bootstrap.js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Using Underscore for collection manipulation and client-side templatin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <!-- special route created by socket.io on the server -->
    <!-- <script src="/javascripts/io.js"></script> -->
    <script type="text/javascript" src="/javascripts/moment.js"></script>
    <script type="text/paperscript" src="/javascripts/draw.js" canvas="draw"></script>
</body>

</html>
