/*Main div that contains navbar, chatbox, and canvas*/
#main-container {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; }

.navbar {
  margin-bottom: 0; }

#chatbox-canvas-container {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  flex-direction: row; }

#chatbox-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: flex-end;
  /*margin-top: 1px;*/
  height: 100%;
  box-shadow: -2px 2px 10px #666;
  /*background-color: #aef5b;*/ }

#draw-container {
  flex: 7;
  display: flex;
  flex-direction: column;
  height: 100%; }

#draw {
  width: 100%;
  height: 89vh; }

#chatbar {
  padding-left: 1em; }

#m {
  margin-top: 3px;
  width: 70%;
  float: left; }

#messages {
  color: black; }

#clearbutton {
  border-radius: 0 !important;
  background-color: #3286c1; }

#startButton {
  border-radius: 0 !important;
  background-color: #aef5b7; }

#chatsend {
  margin-top: 3px;
  margin-bottom: 1em;
  margin-left: 2em;
  width: 20%; }

#upMsg {
  display: block; }

#timer {
  text-align: center;
  font-family: 'Orbitron';
  color: red; }

#legend {
  display: flex;
  flex-direction: row;
  box-shadow: -2px 3px 10px #666; }

.legend-items {
  flex-grow: 1;
  flex-basis: 0; }

.btn {
  outline: none !important; }

/*Media Queries for Responsive Design*/
@media screen and (min-width: 993px) and (max-width: 1400px) {
  #chatsend {
    margin-left: 15px;
    margin-right: 10px; } }

@media screen and (min-width: 769px) and (max-width: 992px) {
  #chatsend {
    padding: 8px;
    font-size: 90%;
    line-height: 1.2;
    margin-left: 10px;
    text-align: center; } }

@media screen and (max-width: 768px) {
  #chatsend {
    padding: 8px 4px;
    font-size: 90%;
    line-height: 1;
    margin-left: 7px;
    text-align: center; } }

@media screen and (max-width: 650px) {
  #draw {
    height: 700px; }
  #m {
    float: none; }
  #chatsend {
    padding: 5px 6px;
    height: 30px;
    width: 50px;
    font-size: 80%;
    line-height: 1;
    margin-left: 0px;
    text-align: center; }
  #chatbox-canvas-container {
    height: 93vh; }
  #chatbox-container {
    height: 100%; }
  #draw-container {
    height: 100%; }
  #draw {
    height: 89vh; } }

#drawWord {
  color: red; }

#secretButton {
  width: 5px;
  height: 5px; }
